@import '../global/mixins';

.page-not-found {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: calc(100vh - 62px);
  align-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: $backgroundgray;

  .center-image {
    flex-basis: 70%;
    padding: 0 5px;
    max-width: 410px;

    .error-svg {
      margin: 40px auto;
      max-width: 75%;
      position: relative;

      & > img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .subtext {
      margin-top: 5%;
    }
  }
}
