@import '../global/mixins';

.secret-platform-prototype-page.flex-container.main-content {
  width: 100%;
  padding: 0;
  background: $backgroundgray;
  overflow: hidden;
  transition: width 1.5s, height 1.5s;

  .instructions-tooltip {
    color: $darkgray;
  }

  .secret-platform-prototype-page-tiles-container {
    padding: 32px;

    .VictoryContainer {
      height: auto;
    }
  }

  .self-destruct-message {
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: 32px;
    text-align: center;
    color: $darkgray;
    transform: translateX(-50%);

    .time-remaining {
      margin-left: 8px;
      font-weight: bold;
    }
  }

  &.self-destruct {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    padding: 0;
    transform: translate(-50%, -50%);
    animation: spin 1.5s;
  }
}

.instructions-tooltip-body {
  width: 600px;
  font-weight: 300;
  line-height: 1.4;

  .instructions-tooltip-first-paragraph {
    margin-top: 0;
  }

  .instructions-tooltip-last-paragraph {
    margin-bottom: 0;
  }

  .instructions-tooltip-link {
    margin: 0 4px;
  }
}

.secret-platform-prototype-chart-tooltip {
  width: 180px;
  padding: 16px 8px;
  font-weight: 200;

  .secret-platform-prototype-chart-tooltip-name {
    font-size: $medium-font-size;
    color: $blue;
    white-space: nowrap;
  }

  .secret-platform-prototype-chart-tooltip-value {
    margin: 0 8px;
    color: $darkgray;

    .secret-platform-prototype-chart-tooltip-value-unit {
      margin-left: 2px;
      font-size: $small-font-size;
    }
  }
}
